<div class="menu-page-card">
  <div class="mini-light-controller">
    <div class="section-header">
      <ul>
        <li><%= link_to "Breakfast", menu_path(section: :Breakfast) %></li>
        <li><%= link_to "Lunch", menu_path(section: :Lunch) %></li>
        <li>
          <div><%= link_to image_tag("menu_text.png"), menu_path %></div>
        </li>
        <li><%= link_to "Dinner", menu_path(section: :Dinner) %></li>
        <li><%= link_to "Drink", menu_path(section: :Drink) %></li>
      </ul>
    </div>
    
    <div class="food-specialities">

      <% @food_items.each_with_index do |food_item, index| %>
        <%= render "specialities", index: index, food_item: food_item %>
        
      <% end %>

    </div>

    <div class="menu-header">Specialities</div>

  </div>
</div>