<!DOCTYPE html>
<html>
<head>
  <title>Cuisinian</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<body>
  <div class="light-controller"> 
    <header>
      <a href="/"><img class="header-logo" src="assets/header-logo.png" alt="header-logo"></a>

      <% flash.each do |key, value| %>
        <div class="alert <%= flasherize(key) %>"><%= value %></div>
      <% end %>

      <div class="menu">
        <ul>
          <%= link_to cart_path do %>
             <li><%= get_cart.item_count %> Order</li>
          <% end %>
          <li>About</li>
          <li><%= link_to "Menu", menu_path %></li>
          <li>Promotion</li>
          <li><%= link_to "Contact us", contact_path %></li>
        </ul> 
      </div>
      
    </header>
    <%= yield %>
  </div>
</body>
</html>
